@font-face {
  font-family: "FuturaPT-Book";
  src: url(../fonts/FuturaPT-Book.ttf);
}
body{
  margin: 0;
  padding: 0;
  font-family: "FuturaPT-Book";
}
h1{

}
.startSection {
  color: white;
  position: absolute;
  width: 100vw;
  height: 100vh;
  }
   }
   .mainSection {
     color: black;
     background: lightgrey;
   }

#particles-js{
  height: 100vh;
  background-color: #b61924;
}
.startSectionContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.btn1 {
  -webkit-appearance: none;
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  text-decoration: none;
  color:white;
  background-color: #b61924;;
  border: 4px solid white;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: .4em;
  transition: .2s;
  transition-delay: .1s;
}
.btn1:hover {
  -webkit-appearance: none;
  color: #b61924;
  background-color: white;;
  padding: 15px 35px;
  border: 4px solid white;
  transition: 0.5;
}




.btn2 {
  -webkit-appearance: none;
  position: relative;
  display: inline-block;
  padding: 5px 10px;
  text-decoration: none;
  background-color: #b61924;
  color: white;
  border: 2px solid white;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: .4em;
  transition: .2s;
  transition-delay: .1s;
}
.btn2:hover {
 -webkit-appearance: none;
  color: #b61924;
  background-color: white;
  padding: 5px 10px;
  border: 2px solid #b61924;
  transition: 0.5;
}

.btn2:after {
  -webkit-appearance: none;
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  left: -1000%;
  height: 2px;
  margin-top: -1px;
  width: 400%;
  background: #2fc989;
  transition: .5s;
}



.mainSection {
  -webkit-appearance: none;
  color: white;
  position: absolute;
  width: 100vw;
  max-height: 100vh;
}
.hidden {
  display: none
}
.chooseMethod {
display: flex;
flex-direction: inherit;
justify-content: space-evenly;
align-items: center;
height: 100vh;
}
.firstMethod{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.secondMethod{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainSectionContent h {
  margin: 0 auto;
}
.searchByText{
  color: white;
  position: absolute;
  width: 100vw;
  max-height: 100vh;
}
.container {
  margin-left: 15px;
  margin-top: 10px;
}

* {box-sizing: border-box;}

.inputText {padding: 30px 0}
form {
  position: relative;
  width: 300px;
  margin: 0 auto;
}

.inputText input {
  width: 100%;
  height: 42px;
  padding-left: 10px;
  border: 2px solid white;
  border-radius: 5px;
  outline: none;
  background: #b61924;
  color: white;
}
.inputText button {
  position: absolute;
  top: 0;
  right: 0px;
  width: 42px;
  height: 42px;
  border: none;
  background: white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
.inputText button:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 16px;
  color: #b61924;;
}
.socialLinks img{
  max-width: 40px;
  max-height: 40px;
}
.iframeDiv{
  display: none !important;
}

.hidden {
  display: none;
}


.borderSection{
  border: 4px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
}
.searchResult{
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding-top: 40px;
}
.musicDescription{
  font-size: 30px;
padding-bottom: 20px;
}
.ifreamItem img {
  position: absolute;
  margin-left: 170px;
}
.searchByMusic{
  color: white;
  position: absolute;
  width: 100vw;
  max-height: 100vh;
  font-size: 25px;
}
.searchByMusicContent{
  margin-left: 15px;
  margin-top: 10px;
}
.sbmContent {
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
#mediaBut{
  margin-top: 15px;
margin-bottom: 16px;
}
#start {
  background-color: red;
  color: white;
  padding: 15px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  border-radius: 50%;

}
.fa-2x {
  font-size: 2em;
    padding-left: 4px;
}
#stop {
  background-color: red;
  color: white;
  padding: 15px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  border-radius: 50%;
}
 #start .fa-pause {
  font-size: 2em;
    padding-left: 4px;
}
button {
  cursor: pointer;
}
.musicDescriptionDeezer {
  argin-bottom: 14px;
}
a {
  text-decoration: none;
}
.socialLinks a {
  padding: 0px 10px;
}
